:root {
    --cyan:#5FB4A2;
    --darkblue:#203A4C;
    --grayblue:#33323D;
    --verylightgrey:#FAFAFA;
    --lightgrey:#EAEAEB;
    --rederror:#F43030;
    --fftitle:"Ibarra Real Nova", serif;
    --ffbody:"Public Sans", sans-serif;
}

/* ------------------ FONTS ------------------ */
/* ibarra-real-nova-regular - latin */
@font-face {
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ibarra-real-nova-v8-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/ibarra-real-nova-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/ibarra-real-nova-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/ibarra-real-nova-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/ibarra-real-nova-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/ibarra-real-nova-v8-latin-regular.svg#IbarraRealNova') format('svg'); /* Legacy iOS */
}
/* ibarra-real-nova-600 - latin */
@font-face {
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/ibarra-real-nova-v8-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/ibarra-real-nova-v8-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/ibarra-real-nova-v8-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/ibarra-real-nova-v8-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/ibarra-real-nova-v8-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/ibarra-real-nova-v8-latin-600.svg#IbarraRealNova') format('svg'); /* Legacy iOS */
}
/* ibarra-real-nova-700 - latin */
@font-face {
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/ibarra-real-nova-v8-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/ibarra-real-nova-v8-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/ibarra-real-nova-v8-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/ibarra-real-nova-v8-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/ibarra-real-nova-v8-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/ibarra-real-nova-v8-latin-700.svg#IbarraRealNova') format('svg'); /* Legacy iOS */
}
/* public-sans-regular - latin */
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/public-sans-v5-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/public-sans-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/public-sans-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/public-sans-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/public-sans-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/public-sans-v5-latin-regular.svg#PublicSans') format('svg'); /* Legacy iOS */
}
/* public-sans-600 - latin */
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/public-sans-v5-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/public-sans-v5-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/public-sans-v5-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/public-sans-v5-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/public-sans-v5-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/public-sans-v5-latin-600.svg#PublicSans') format('svg'); /* Legacy iOS */
}
/* public-sans-700 - latin */
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/public-sans-v5-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/public-sans-v5-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/public-sans-v5-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/public-sans-v5-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/public-sans-v5-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/public-sans-v5-latin-700.svg#PublicSans') format('svg'); /* Legacy iOS */
}
/* public-sans-800 - latin */
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/public-sans-v5-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/public-sans-v5-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/public-sans-v5-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/public-sans-v5-latin-800.woff') format('woff'), /* Modern Browsers */
         url('../fonts/public-sans-v5-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/public-sans-v5-latin-800.svg#PublicSans') format('svg'); /* Legacy iOS */
}
/* ---------------- CONTAINER ---------------- */

.container {
    max-width: 31.1rem;
    margin: auto;
}
@media (min-width: 36em) {
    /* 36em * 16 = 576px */
    .container {
        max-width: 50rem;
    }
}
@media (min-width: 48em) {
    /* 48em * 16 = 768px */
    .container {
        max-width: 68.8rem;
    }
}
@media (min-width: 62em) {
    /* 62em * 16 = 992px */
    .container {
        max-width: 90rem;
    }
}
@media (min-width: 80em) {
    /* 80em * 16 = 1280px */
    .container {
        max-width: 99rem;
    }
}
@media (min-width: 90em) {
    .container {
        max-width: 111rem;
    }
}
@media (min-width: 105em) {
    .container {
        max-width: 130rem;
    }
}
/* ---------------- BUTTON ---------------- */

.btn {
    display: inline-block;
    position: relative;
    min-width: 20rem;
    padding: 0.9rem 0;
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: var(--darkblue);
    box-shadow: inset 0px 0 0 0 var(--darkblue );
    transition:ease-in-out .5s;
}
.btn-small {
    color: var(--grayblue);
    letter-spacing: 2px;
    background-color: transparent;
    box-shadow: inset 0px 0 0 0 var(--grayblue );
    min-width: 16.2rem;
    border: 1px solid var(--grayblue);
}
.btn-small:hover {
    box-shadow: inset 0 0 0 100px var(--grayblue );
    color: #fff;
}
.btn-big:before {
    content: url(../img/icons/down-arrows.svg);
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--darkblue);
    box-shadow: inset 0 0 0 0 var(--darkblue);
    padding: 0.9rem 1.6rem;
    filter: brightness(90%);
    transition: .3s ease-in-out;
}
.btn-big:hover::before{
    content: url(../img/icons/down-arrows-white.svg);
    box-shadow: inset 0px 100px 0 0 var(--cyan);
}
.btn-big:hover {
    box-shadow: inset 200px 0 0 0 var(--cyan);
}

/* ---------------- BODY ---------------- */
body {
    font-family: var(--ffbody);
    font-weight: 400;
    line-height: 3rem;
    color: var(--grayblue);
}
h1,h2,h3 {
    font-family: var(--fftitle);
    font-weight: 700;
}
h1 {
    font-size: 3.12em;
    line-height: 5rem;
}
h2 {
    font-size: 2.5em;
    line-height: 4.2rem;
}
h3 {
    font-weight: 400;
    font-size: 2em;
    line-height: 3.6rem;
}
/* ---------------- HEADER ---------------- */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:3.2rem ;
}
.no-scroll {
    overflow: hidden;
}
.menu {
    position: fixed;
    top: 88px;
    right: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--grayblue);
    min-width: 22rem;
    min-height: 19rem;
    z-index: 10000;
    opacity: 0;
    pointer-events: none;
    transform: translateX(200%);
    transition: .3s ease-in-out;
}
.menu li:nth-child(2) {
    margin: 16px 0;
}
.menu li a {
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.toggle-menu {
    position: relative;
    z-index: 10001;
    padding: 1rem 0;
    bottom: 4px;
    left: 0rem;
    border: 0;
    width: 3rem;
    height: 2.2rem;
    background-color: #000;
    background-clip: content-box;
}
.toggle-menu::before, .toggle-menu::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 0.2rem;
    background-color: #000;
    transition: .3s;
    transform-origin: left center;
}

.toggle-menu::before {
    top: 0;
}

.toggle-menu::after {
    bottom: 0;
}

.toggle-menu[aria-expanded="true"] {
    background-color: rgba(0, 0, 0, 0);
}

.toggle-menu[aria-expanded="true"]::before {
    transform: rotate(42.5deg);
}

.toggle-menu[aria-expanded="true"]::after {
    transform: rotate(-42.5deg);
}

.menu:not([hidden]) {
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
}

@media (min-width: 48em) {
    .toggle-menu {
        display: none;
    }
    .menu {
        position: static;
        opacity: 1;
        flex-direction: row;
        min-width: unset;
        min-height: unset;
        transform: unset;
        pointer-events: all;
        background-color: transparent;
    }
    .menu li a {
        color: var(--grayblue);
    }
}
/* ---------------- FOOTER ---------------- */

footer {
    text-align: center;
    background-color: var(--grayblue);
    padding:5.6rem 13.5rem ;
}
footer nav {
    margin: 4rem 0;
}
.ul-footer li:nth-child(2) {
    margin: 16px 0;
}

.ul-footer li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
}
.social-ctn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (min-width: 48em) {
    footer {
        text-align: unset;
        padding: 3.5rem 2.4rem;
    }
    footer .container {
        display: flex;
        align-items: center;
        justify-content: start;
    }
    footer nav {
        margin: unset;
    }
    .ul-footer {
        display: flex;
        align-items: center;
    }
    .ul-footer li:nth-child(2),
    .menu li:nth-child(2) {
        margin: 0 4.2rem;
    }
    .social-ctn li:nth-child(2){
        margin: 0 1.6rem;
    }
    footer nav,
    address {
        display: flex;
        flex: 2;
        justify-content: flex-end;
    }
}
@media (min-width: 62em) {
    /* 62em * 16 = 992px */
    footer nav {
        margin-left: 4.8rem;
        justify-content: flex-start;
    }
}
/* ---------------- HERO ---------------- */
.hero {
    margin-top: 4rem;
    margin-bottom: 9.6rem;
}
.hero figure {
    margin-bottom: 2.8rem;
}
.hero h1 {
    margin-bottom: 2rem;
}
/* ---------------- ABOUT ---------------- */
.about{
    margin-bottom: 12rem;
}
.about figure {
    margin-bottom: 3.2rem;
}
.about .about-content {
    border-top: 1px solid #33323d15;
    border-bottom: 1px solid #33323d15;
    padding: 3.2rem 0 5.2rem 0;
}
.about-content p{
    margin: 2rem 0;
}
/* ---------------- HOME - CONTACT ---------------- */
.contact {
    text-align: center;
    margin-bottom: 8rem;
}
.contact h2{
    margin-bottom: 2.8rem;
}